.navbar {
    grid-area: nav;
    background-color: #F0F2F5;
    padding-top: 10px;
    padding-right: 10px;
    height: 100%;
    border-radius: 7px;
}

.navbar div {
    margin-bottom: 10px;
}

.item {
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding-left: 15px;
}

.active {
    display: block;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 15px;
    color: #fffffe;
    background-color: #1877F2;
    border-radius: 0px 15px 15px 0px;
}

.link:hover a {
    display: block;
    background-color: #899BBE;
    color: white;
    border-radius: 0px 15px 15px 0px;
}

.link a {
    display: block;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icon {
    width: 17px;
    height: 17px;
    color: #808080;
}
