.navbar {
    grid-area: nav;
    background-color: #C2D0D0;
    padding-top: 10px;
}

.navbar div {
    margin-bottom: 10px;
}

.item {
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding-left: 15px;
}

.active {
    display: block;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 15px;
    color: #fffffe;
    background-color: #899BBE;
    border-radius: 0px 15px 15px 0px;
}

.link:hover a {
    display: block;
    background-color: #899BBE;
    color: white;
    border-radius: 0px 15px 15px 0px;
}

.link a {

}