.dialogMessage {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

.dialogs {
    border-right: 1px solid #899bbe;
    padding-top: 20px;
}

.dialog {
    padding: 10px;
    text-decoration: none;

}

.messages {
    padding: 20px;
}

.message {
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
    text-align: left;
    color: #fffffe;
    background-color: #899BBE;
    border-radius: 15px 15px 0px 15px;
    box-shadow: 3px 1px 5px 1px gray;
    margin-left: auto;
}

.active {
    color: white;
}

.item {
    font-size: 18px;
    font-weight: 400;
    color: #385898;
    font-weight: 600;
    text-decoration: none;
}

.time {
    margin-top: 5px;
    font-size: 10px;
    text-align: right;
    color: #fffffe;
}

.newMessage {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 150px;
    /*max-width: 400px;*/

}

button {
    width: 150px;
}
.buttonMessage {
    border: 1px solid #899BBE;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #385898;
    background-color: #e7f3ff;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}

.buttonMessage:focus-visible {
    box-shadow: 0 0 0 2px #666;
}

.buttonMessage:hover {
    background-color: #DBE7F2;
}
.buttonMessage:active {
    transform: scale(0.96);
}
.buttonMessage:disabled {
    pointer-events: none;
    opacity: 0.65;
}