.item img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid #6495ed;
}

.like img {
    width: 15px;
}

.item {
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #899bbe;
    border-radius: 15px;
    display: inline-block;
}

.message {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    color: #ffffff;
}

.content {
    display: grid;
    grid-template-columns: 2fr 8fr;
}